@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --width-scroll: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black;
  @apply text-light;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: var(--width-scroll);
  height: var(--width-scroll);
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 3px;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Oculta la scrollbar para Chrome, Safari y Opera */
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out;
}